html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center
}

table {
    margin: auto;
}

td {
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    width: min(5vw, 5vh);
    height: min(5vw, 5vh);
    min-width: 32px;
    min-height: 32px;
    background-color: darkgreen;
    color: white;
    font-size: .75em;
}

button {
    margin: 1vw;
    font-size: 1.2em;
    border: 3px solid #000;
    padding: .5em;
    background-color: rgb(150, 150, 255);
    cursor: pointer;
}

button:not([disabled]):hover {
    background-color: rgb(200, 200, 255);
    border-color: rgb(50, 50, 50);
}

.playtile, .handtile, .handtile-sample {
    background-color: rgb(200,200,200);
    color: black;
    font-size: .5em;
    font-weight: bold;
    position: relative;
}

.handtile-sample {
    width: max(3vw,3vh);
    height: max(3vw,3vh);
}

.valid-tile {
    background-color: lightgreen;
}

.valid-tile.triple-word {
    background-color: rgb(255,0,0);
}

.valid-tile.triple-letter {
    background-color: rgb(55, 176, 226);
}

.valid-tile.double-word {
    background-color: rgb(255, 177, 53);
}

.valid-tile.double-letter {
    background-color: rgb(255, 177, 53);
}

.placed-tile, .handtile, .handtile-sample {
    font-size: 1.5em;
}

.tile-value {
    font-size: .5em;
    text-align: right;
    position: absolute;
    right: 5%;
    bottom: 0;
}

.tile-alt-value {
    font-size: .5em;
    text-align: left;
    position: absolute;
    left: 5%;
    bottom: 0;
}