html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;

}

table {
    margin: auto;
}

td {
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    width: min(5vw, 5vh);
    height: min(5vw, 5vh);
    font-size: .5em;
}

#hand-tiles td {
    cursor: pointer;
}

#hand-tiles td:hover {
    background-color: aquamarine;
}